* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
}
h2 {
  position: relative;
  margin: 0;
  font-size: 4em;
  font-weight: 900;
  color: #fff;
  z-index: 1;
  overflow: hidden;
}
